[user]
	email = 41309630+karmingc@users.noreply.github.com 
	name = Karming Chin
	signingkey = 72BCEB15AED066C7
[commit]
	verbose = true
	# For GPG to work:
	# 1. add user.signingkey
	# 2. gpgsign = true
	# 3. need to install pipentry and kill the gpg-agent. Check https://docs.github.com/en/authentication/managing-commit-signature-verification/telling-git-about-your-signing-key under #8.
	gpgsign = true
[url "https://github.com/"]
	insteadOf = git@github.com:
[url "https://"]
	insteadOf = git://
